/*CSS BY MYRANDA CORNELIUS TANQUARY*/
/*IMPORTED FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ROOT VARIABLES */
:root { 
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
}
/* GLOBAL STYLES (mobile first/small) */
body { 
    font-family: 'Playfair Display'; 
    line-height: 1.5; 
    color: var(--dark-charcoal); 
    background-color: var(--linen);
    margin: auto; 
}
header { 
    background-color: var(--midnight-blue);
    color: var(--soft-white); 
    text-align: center; 
    padding: 40px 20px 30px; 
}
header img { 
    max-width: 200px; 
}
header h1 { 
    margin: 0; 
    font-size: 60px;
    font-weight: bold; 
}
header p { 
    font-size: 18px; 
    font-style: italic; 
}
nav { 
    background-color: var(--champagne-gold);
}
nav ul { 
    list-style: none; 
    padding: 10px 0; 
    margin: 0; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    align-items: center; 
    width: 100%;
}
nav a { 
    color: var(--dark-charcoal);
    text-decoration: none;
    font-weight: bolder; 
    font-size: 20px;
    text-align: center;
}
main {
    padding: 30px 20px; 
}
h2 {
    font-size: 28px; 
    margin-bottom: 10px;
    color: var(--midnight-blue);
}
#about { 
    border-bottom: 2px solid var(--champagne-gold);
    padding-bottom: 20px; 
    margin-bottom: 20px;
}
#offerings { 
    border-bottom: 2px solid var(--champagne-gold);
    padding-bottom: 10px; 
    margin-bottom: 20px;
}
#offerings .offering { 
    background-color: var(--olive-green); 
    color: var(--soft-white); 
    border-radius: 14px; 
    padding: 20px 24px; 
    margin-bottom: 20px;
    box-shadow: 0 6px 12px rgba(0,0,0,.15);
}
.offering-basket ul {
    list-style: disc;
    padding-left: 20px;
}
#offerings h3 {
    font-size: 23px; 
    margin-bottom: 5px;
    font-weight: bold;
}
.gallery-grid {
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 20px;
}
.gallery-images { 
    background: var(--soft-white); 
    border-radius: 10px; 
    box-shadow: 0 6px 12px rgba(0,0,0,.15);
}
.gallery-images img { 
    width: 100%; 
    display: block;
    border-radius: 12px 12px 0 0;
}
.gallery-images figcaption { 
    padding: 12px 16px; 
    font-size: 14px; 
    font-style: italic; 
    text-align: center;
}
.full-gallery {
    display: block; 
    text-align: center; 
    background-color: var(--olive-green);
    color: var(--soft-white); 
    border-radius: 6px; 
    text-decoration: none; 
    font-weight: bold;
    margin: 16px auto 0;
    padding: 10px;
}
#gallery { 
    border-bottom: 2px solid var(--champagne-gold);
    padding-bottom: 20px; 
    margin-bottom: 5px;
}
#gallery p {
    margin-bottom: 24px;
}
footer { 
    background-color: var(--midnight-blue);
    color: var(--soft-white); 
    text-align: center; 
    padding: 32px 16px; 
}
footer a { 
    color: var(--champagne-gold); 
    text-decoration: none;
    font-weight: bold;  
}
footer address { 
    margin-top: 40px;
    margin-bottom: 40px;
}
#socials { 
    display: flex; 
    flex-direction: row; 
    align-items: center;
}
/* MEDIA QUERY (medium) */
@media (min-width: 600px) {
    main {
        width: 100%; 
        max-width: none; 
        padding-left: 5vw; 
        padding-right: 5vw; 
        box-sizing: border-box; 
    }
    #offerings {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        column-gap: 24px; 
        row-gap: 5px;
    }
    #offerings > h2 { 
        grid-column: 1 / -1; 
    }
    .offering-basket {
        grid-column: 1 / -1; 
    }
    .gallery-grid {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
}
/* MEDIA QUERY (large) */
@media (min-width: 900px) {
    main {
        width: 100%;
        max-width: none; 
        padding-left: 5vw; 
        padding-right: 5vw; 
        box-sizing: border-box;
    }
    .gallery-grid { 
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
    }
}
/* MEDIA QUERY (xl) */
@media (min-width: 1200px) { 
    main { 
        width: 100%;
        max-width: none; 
        margin: 0 auto;
        padding-left: 16vw;
        padding-right: 16vw;
        box-sizing: border-box; 
    }
    .gallery-grid { 
        display: flex; 
        flex-direction: row; 
    }
}